<h2>Daily Match(es): </h2>

<!-- <%= date_select(@date, 'date') %> -->

<!-- after pressing the button once we would like to disable it -->
<!-- button not showed in history dates -->
<% if current_user.admin %>
  <%= render 'admin_day_match' %>
<% else %>
  <%= render 'student_day_match' %>
<% end %>
